@using jundie.net.core_pager;
@model jundie.net.core_pager.PagedList<jundie.net.core_pager.demo_cn.models.article>
@{
    ViewData["Title"] = "分页示例";
    ViewData["menu_demo"] = "active";
    var pagerOption = ViewData["pagerOption"] as jundie.net.core_pager.PagerOptions;
}
<h3>@ViewData["Title"]</h3>
<div class="panel panel-default">
    <!-- Table -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>来源</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PageListData)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.Source</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Default panel contents -->
    <div class="panel-footer">
        共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("index", new { page }))
@*@Html.Pager(Model)*@