@addTagHelper "*, jundie.net.core_pager"
@model IEnumerable<jundie.net.core_pager.demo.models.order>
@{
    ViewData["Title"] = "demo";
    ViewData["menu_demo"] = "active";
    var pagerOption = ViewData["pagerOption"] as jundie.net.core_pager.PagerOptions;
}
<h3>@ViewData["Message"]</h3>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @ViewData["Title"] (@pagerOption.Total)
    </div>
    <!-- Table -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.OrderId)</th>
                <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
                <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.CustomerId</td>
                    <td>@item.CompanyName</td>
                    <td>@item.EmployeeName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<pager pager-option="pagerOption"></pager>